body {
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

.intro-section {
    height: 100%;
    text-align: center;
}

.about-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.experience-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.contact-form-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.parallax-background {
  background-image: url("../images/professional_picture.jpg");

  min-height: 676px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  margin-bottom: 10px;
}

#github-picture {
 margin-top: 80px;
}

.company-logo {
  height: 300px;
  width: 300px;
}

.follow-button {
  margin-top:40px;
 }

hr.double-line {
  border-top: 3px double #8c8b8b;
}

form.contact-form {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
}

.form-group {
  margin-bottom: 60px;
}
